# LLM API Key Settings.

# For Single Agent System
GEMINI_API_KEY=

# For Multi Agent System
GEMINI_API_KEY_ANALYSIS=
GEMINI_API_KEY_AGGREGATOR=

# For Single and Multi Agents.
GROQ_API_KEY=

# Tools API Keys
TAVILY_API_KEY=
NEWS_API_KEY=

# System Settings.
UPLOAD_DIR=uploads
SESSION_TTL_SECONDS=3600
